$desktop-break: 980px;
$tablet-break: 600px;

$spacer: 10px;
$spacer--v: $spacer*7;

.col {
  display: inline-block;
  vertical-align: top;
}

header {
  background-color: $black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  h1 {
    color: white;
    padding: $spacer 0;
    text-align: center;
  }
}

footer {
  background-color: $black;
  p {
    color: white;
    text-align: center;
    padding: 80px;
  }
}
