.show-list {
  list-style: none;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
  .show-item {
    display: inline-block;
    padding: $spacer--v $spacer;
    transition: transform .3s ease;
    img {
      width: $spacer*12;
      box-shadow: 0px 0px 4px 0 rgba(0,0,0,.5);
      margin: 0 $spacer;
    }
    &.active {
      z-index: 1;
      transform: scale(1.4);
      padding: 0;
      margin: 0 10px;
      img {
        box-shadow: 2px 2px 6px 0 rgba(0,0,0,.5);
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #252525;
    color: white;
    font-size: 30px;
    text-decoration: none;
    line-height: .7;
    vertical-align: middle;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    &--left {
      left: -55px;
      padding: 45px 15px 45px 60px;
    }
    &--right {
      right: -55px;
      padding: 45px 60px 45px 15px;
    }
  }
}
