main {
  text-align: center;
  background-color: $gray;
  padding: $spacer*4 0;
  min-height: $spacer*50;
  .show-info {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    &--text, &--image {
      width: 100%;
    }
    &--text {
      padding: $spacer $spacer*2;
      border: 1px solid white;
      text-align: left;
    }
    &--image {
      padding: $spacer*3 0 0 0;
    }
    @media (min-width: $tablet-break) {
      width: $tablet-break;
      &--text, &--image {
        width: 49%;
      }
      &--image {
        padding: 0 30px;
      }
    }
    @media (min-width: $desktop-break) {
      width: $desktop-break;
      &--text, &--image {
        width: 50%;
      }
    }
  }

  h2, h3, p {
    color: white;
    margin: 0 0 $spacer 0;
  }
  img {
    width: 100%;
    text-align: right;
  }

}
