@import 'colors',
        'layout',
        'type',
        'showlist',
        'showinfo';
html {
  height: 100%;
}

body {
  margin: 60px 0 0 0; 
  font-family: sans-serif;
  min-height: 100%;
}

* {box-sizing: border-box;}
